# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# environment variables
secrets.yml

# mockData files - ignored due to potential credential leaks
mockData

# test files
.webpack